.About {
    display: flex;
    padding: 20px;
    margin: 20px;
}

.About-left {
    padding: 20px;
    margin: 20px;
    flex:5;
}
 .About-text {
    padding: 10px;
 }

.About-right {
    flex:3;
}

@media screen and (max-width: 480px) {
    .About {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }
}