.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://i.pinimg.com/originals/6e/2e/4d/6e2e4d84608fdbf27d8e29296e3e201c.jpg");
    background-size: cover;
    overflow-y: hidden;
}

.Contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    overflow-y: hidden;
}

.Contact-form {
    overflow-y: hidden;
    border-radius: 10px;
    border:none;
    background-color: var(--third-color);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.Contact-span {
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    color: tomato;

}

.Contact > label {
    overflow-y: hidden;
    margin: 10px 0;
}

.Contact-input {
    overflow-y: hidden;
    box-shadow: 5px 5px 5px #FFBB98;
    width: 500px;
    background-color: var(--color-light);
    color: var(--first-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    height: 30px;
    border:none;
}

.Contact-textarea {
    overflow-y: hidden;
    height: 20em;
    width: 500px;
    border:none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px #FFBB98;
    background-color: var(--color-light);
    color: var(--first-color);

}

.Contact-submit-button {
    overflow-y: hidden;
    box-shadow: 5px 5px 5px #FFBB98;
    width: 150px;
    align-self: center;
    background-color: teal;
    color: var(--third-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border:none;
}