.Login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://i.pinimg.com/originals/6e/2e/4d/6e2e4d84608fdbf27d8e29296e3e201c.jpg");
    background-size: cover;
}

.LoginTitle {
   font-size: 50px; 
}

.LoginForm {
    border-radius: 10px;
    border:none;
    background-color: var(--third-color);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.LoginForm > label {
    margin: 10px 0;
}

.LoginInput {
    box-shadow: 5px 5px 5px #FFBB98;
    width: 500px;
    background-color: var(--color-light);
    color: var(--first-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    height: 30px;
}

.LoginButton {
    box-shadow: 5px 5px 5px #FFBB98;
    width: 150px;
    align-self: center;
    background-color: teal;
    color: var(--third-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.LoginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(252, 173, 173);
  }

.LoginRegisterButton {
    box-shadow: 5px 5px 5px #FFBB98;
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: tomato;
    color: var(--third-color);
    cursor: pointer;
}
