.Settings {
    display: flex;
    align-items: center;
    flex-direction: column;
    background : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://i.pinimg.com/originals/26/01/ca/2601ca72d409c2821feba594329dac80.jpg");
}

.SettingsWrapper {
    flex:9;
    padding: 1em;
    margin: 1.5em;
}

.SettingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SettingsUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--color-dark);
}

.SettingsDeleteTitle {
    color:tomato;
    font-size: 12px;
    cursor: pointer;
}

.SettingsForm {
    border:none;
    border-radius: 10px;
    background-color: var(--third-color);
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.SettingsPP {
    display: flex;
    align-items: center;
    margin:1.5em;
    align-self: center;
}

.SettingsPP > img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin:1em;
    align-self: center;
}

.SettingsPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--second-color);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.SettingsForm > label {
    color: var(--color-dark);
    font-size: 20px;
    margin-top: 1em;
    padding: 1em;
    align-self: center;
}

.SettingsForm > input {
    color: var(--first-color);
    background-color: var(--color-light);
    border-bottom: 1px solid #7D8E95;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    height: 30px;
    width: 30em;
    border:none;
    align-self: center;
    box-shadow: 5px 5px 5px #FFBB98;
}

.SettingsSubmit {
    width: 150px;
    align-self: center;
    background-color: teal;
    color: var(--third-color);
    border-radius: 10px;
    padding: 1em;
    margin:1em;
    cursor: pointer;
    border:none;
    box-shadow: 5px 5px 5px #FFBB98;
}

@media screen and (max-width: 480px) {
    .Settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
}
