.Login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://i.pinimg.com/originals/6e/2e/4d/6e2e4d84608fdbf27d8e29296e3e201c.jpg");
    background-size: cover;
}

.LoginTitle {
   font-size: 50px; 
}

.LoginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.LoginForm > label {
    margin: 10px 0;
}

.LoginInput {
    width: 500px;
    background-color: var(--color-light);
    color: var(--first-color);
    border-bottom: 1px solid #7D8E95;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    height: 30px;
}

.LoginButton {
    width: 150px;
    align-self: center;
    background-color: teal;
    color: var(--third-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.LoginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: tomato;
    color: var(--third-color);
    cursor: pointer;
}
