.Register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://data.whicdn.com/images/348737998/original.jpg?t=1600301825");
    background-size: cover;
}

.RegisterTitle {
   font-size: 50px; 
}

.RegisterForm {
    border-radius: 10px;
    border:none;
    background-color: var(--third-color);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.RegisterForm > label {
    margin: 10px 0;
}

.RegisterInput {
    width: 500px;
    padding: 10px;
    background-color: var(--color-light);
    color: var(--first-color);
    border-bottom: 1px solid #7D8E95;
    border-radius: 5px;
    margin: 10px 0;
    height: 30px;
}

.RegisterButton {
    width: 150px;
    align-self: center;
    background-color: tomato;
    color: var(--third-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.RegisterLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: teal;
    color: var(--third-color);
    cursor: pointer;
}
