.Sidebar {
    flex:3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: var(--third-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideBarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideBarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #FFBB98;
    border-bottom: 1px solid #FFBB98;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-dark);
    line-height: 20px;
    text-align: center;
}

.SideBarItem > img {
    margin-top: 15px;
}

.SideBarItem > p {
    padding: 15px;
}

.SideBarList {
    list-style: none;
    margin-bottom: 30px;
}

.SideBarListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    padding: 10px;
    color: var(--color-dark);
}

.SideBarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SideBarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--color-dark);
}

.SideBarImg {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #FFBB98;
}