.SinglePost {
    flex:9;
}

.SinglePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.SinglePostImg {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.SinglePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.SinglePostEdit {
    float: right;
    font-size: 16px;
}

.SinglePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.SinglePostIcon:first-child {
    color: teal;
}

.SinglePostIcon:last-child {
    color: tomato;
}

.SinglePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color:var(--second-color);
}

.SinglePostDescr {
    color:var(--color-dark);
    font-size: 18px;
    line-height: 24px;
}

.SinglePostDescr::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}