.top {
    width: 100%;
    height: 50px;
    background-color: var(--second-color);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.TopLeft, .TopRight {
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopCenter {
    flex: 6;
}

.TopImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.TopIcon {
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-dark);
    cursor: pointer;
}

.TopList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.TopListItem {
    color: var(--color-dark);
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.TopSearchIcon {
    color: var(--color-dark);
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}